<nav>
    <div class="site-title">
        <h1><a href="/">Home</a></h1>
    </div>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">About</a> </li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>