  /* -------General----- */
*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --main-color: #a00;
    --bg-color: #ccc;
    --bg-main: #fff;
    --bg-second: #eee;
    --second-color: #555;
    --txt-color: #000;
    --txt-2-color: #444;
}

body{
    margin: 0;
    background-color: var(--bg-color);
}
a{
    color: var(--second-color);
}
h1, h2, a:hover{
    color: var(--main-color);
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 80px;
    border-bottom: 1.5px solid #aaa;
}
.site-title a{
    color: var(--main-color);
    text-decoration: none;
    margin:0 0 0 30px;
    padding: 0;
}
.site-title h1{
    font-size: 2.8rem;
    margin: 0;
}

nav ul{
    font-size: 1.5rem;
    margin: 0 30px 0 0;
    list-style: none;
    display: flex;
    width: max-content;
}
nav a{
    padding: 10px 20px 0 20px;
}
/* ------Content------ */
.content{
    position: relative;
    display: block;
    width: 70%;
    margin: auto;
    padding: 10px 10px;
    background-color: var(--bg-main);
}
/* --------Footer-------- */
footer{
    position: relative;
    width: max-content;
    margin: auto;
    height: 100px;
    color: var(--txt-color);
    line-height: 100px;
}
/* ---------Blogs--------- */
.single{
    background-color: #f3f3f3;
    display: inline-block;
    width: 100%;
    position: relative;
    color: #000;
    text-decoration: none;
    padding: 20px 10px;
    margin-top: 10px;
    border-bottom: 1.5px solid #999;
}
.blogs h3{
    margin: 0;
}
.blogs p{
    color: var(--txt-2-color);
    margin: 0;
    padding-top: 5px;
}
/* -----Form----- */
.create-blog{
    width: 50%;
    padding: 30px 100px 0 100px;
}
.create-blog form{
    display: flex;
    flex-direction: column;
}
.create-blog label{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.create-blog input[type='text']{
    border: 1px solid #888;
    background-color: #fff;
    margin-bottom: 30px;
}
#title{
    height: 2rem;
    font-size: 1.5rem;
}
#snippet{
    height: 2rem;
    font-size: 1.3rem;
}
#body{
    resize: none;
    height: 150px;
}
.create-blog button{
    color: #fff;
    margin: 20px auto;
    font-size: 2rem;
    padding: 10px 20px 10px 20px;
    border: none;
    width: max-content;
    background-color: var(--main-color);
    cursor: pointer;
}